*{
    margin:0;
    padding:0;
}
.boy, .water, .ring{
    width:400px;
}
.container{
    background-color:yellow;
    width:300px;
    overflow:hidden;
    position:relative;
    top:10px ;
    left:40px;
    height:328px;

}
.water{
    position:relative;
    top:114px;
    z-index:4;
}
.ring{
    position:absolute;
    bottom:127px;
    left:5px;
    z-index:5;
}
.boy{
   position:absolute;
   top:53px;
   z-index:6;
   left:10px;
}